<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE suite SYATEM "http://testng.org/testng-1.0.dtd">

<suite name ="automation">

    <!--test name="myFirstTest">
        <classes>
            <class name = "com.automation.test.myFirstTest"/>
        </classes>

    <test name="mySecondTest">
        <classes>
            <class name="com.automation.test.mySecondTest"/>
        </classes>-->



    </test>

</suite> 